<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="A4_MotherBoard_Tester_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <A4_MotherBoard_Tester_WPF.Properties.Settings>
            <setting name="LastSelected_17to16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelected_19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelected_22to20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelected_23" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelected_25to24" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastInputAddrese" serializeAs="String">
                <value>0x1234</value>
            </setting>
        </A4_MotherBoard_Tester_WPF.Properties.Settings>
    </userSettings>
</configuration>